<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
</head>
<body>
<h1><%= @title %></h1>
<h2><%= node['messages']['welcome'] %></h2>
<h3><%= @desc %></h3>
<h3>This node is on platform <%= node['platform'] %></h3>
<h3>The total memory is <%= node['memory']['swap']['total'] %></h3>
<hr />
<p>
<span style="color: #888888; font-size: 16px;font-weight: bold;"><%= @company_info['name'] %><br /></span>
<span style="color: #888888; font-size: 14px;font-style: italic;"><%= @company_info['moto'] %><br /></span>
<span style="color: #888888; font-size: 12px;">
<%= @company_info['website'] %><br />
<%= @company_info['email'] %></span>
</p>
</body>
</html>
